# Bonus: Temperature Analysis I

In [1]:
import pandas as pd
from datetime import datetime as dt

In [44]:
# "tobs" is "temperature observations"
df = pd.read_csv('..\Resources\hawaii_measurements.csv')
df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [45]:
df.dropna(inplace=True)

In [46]:
# Convert the date column format from string to datetime
df['date']=pd.to_datetime(df['date'])

In [47]:
# Set the date column as the DataFrame index
df.set_index('date',inplace=True)

In [48]:
# Drop the date column
# ??? auto dropped above
df

                station  prcp  tobs
date
2010-01-01  USC00519397  0.08    65
2010-01-02  USC00519397  0.00    63
2010-01-03  USC00519397  0.00    74
2010-01-04  USC00519397  0.00    76
2010-01-07  USC00519397  0.06    70
...                 ...   ...   ...
2017-08-17  USC00516128  0.13    72
2017-08-19  USC00516128  0.09    71
2017-08-21  USC00516128  0.56    76
2017-08-22  USC00516128  0.50    76
2017-08-23  USC00516128  0.45    76

[18103 rows x 3 columns]

### Compare June and December data across all years

In [49]:
from scipy import stats

In [50]:
# Filter data for desired months
month=6
jun_df=df.loc[df.index.month==month]
month=12
dec_df=df.loc[df.index.month==month]

In [51]:
# Identify the average temperature for June
avg_temp_jun=jun_df['tobs'].mean()
avg_temp_jun

74.88754764930114

In [52]:
# Identify the average temperature for December
avg_temp_dec=dec_df['tobs'].mean()
avg_temp_dec

70.93024911032029

In [61]:
# dec data is not normally distributed
print(dec_df.size)
stats.shapiro(dec_df['tobs'])

4215

ShapiroResult(statistic=0.9817761778831482, pvalue=2.471981820628688e-12)

In [62]:
# dec data is not normally distributed
print(jun_df.size)
stats.shapiro(jun_df['tobs'])

4722

ShapiroResult(statistic=0.9833921790122986, pvalue=1.6506709193953029e-12)

In [60]:
# Run un-paired t-test as sample sizes  are no matching
stats.ttest_ind(jun_df['tobs'],dec_df['tobs'])

Ttest_indResult(statistic=30.865349991562194, pvalue=9.8415346259008e-182)

# Analysis

### 1. Data is not normally distributed - we do not meet conditions for both t-test
### 2. The observations are sampled independently - well it is not - so we do not meet another requirement for t-test
### 3. unpaired t-test should be used to compare the mean between two independent groups - dec and jun are independent
### 4. t-test null hypotheisis states that samples are equal,  p-value is very low 
### 5. this indicates than we can reject null hypothesis as statistically insignificant 
## so bottom line - bad example 
## but t-tets shows significant difference between the two groups of data